.post-info {
  padding: 6px 14px 0 12px;
}

.likes-count {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.post-comment {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.hashtag {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
  margin-right: 5px;
}

.view-all-comments {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: var(--medium-gray);
}

.time-posted {
  margin: 10px 0 14px 0;
  font-size: 10px;
  color: var(--medium-gray);
}
