:root {
  --blue: #0095f6;
  --white: #ffffff;
  --black: #262626;
  --gray: #c7c7c7;
  --light-gray: #dbdbdb;
  --medium-gray: #8e8e8e;
  --searchBG: #efefef;
  --searchPH: #bcbcbc;
  --bodyBG: #fafafa;
  --storyIB: #c41e1e;
}
