#nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
}

#nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  border-top: 1px solid var(--gray);
  z-index: 10;
}

#header-container-top-sm {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

#header-container-bottom-sm {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 24px;
}

#pp-sm {
  width: 24px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

#profile-menu-sm {
  width: 230px;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 55px;
  right: 15px;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 6px var(--gray);
}

#profile-menu-sm i {
  padding-right: 0.3rem;
}

@media (min-width: 691px) {
  #header-container-top-sm {
    display: none;
  }

  #header-container-bottom-sm {
    display: none;
  }
}
